PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=career_ai

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

OPENAI_API_KEY=
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
GROQ_API_KEY=
